fastapi
uvicorn
pydantic
pydantic-settings
motor
python-jose[cryptography]
passlib[bcrypt]
pymongo
python-dotenv
email-validator
python-multipart
requests
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
fpdf2
qrcode[pil]
emails
Jinja2
reportlab==3.6.13
qrcode==7.4.2
Pillow==10.4.0
